@import "~antd/dist/antd.css";

$primary: #FE5B54;

.header {
  background-color: $primary;
}

.menu {
  background-color: $primary;
  border-bottom: none;
}


.today {
  border-color: $primary;
  box-shadow: 5px 5px $primary;
}

.listItem:hover {
  background-color: $primary;
  transition: all 0.3s ease;
}
.listItem {
  cursor: pointer;
}

.ant-menu-horizontal > .ant-menu-item-selected a {
  color: #fff !important;
}

.ant-menu-horizontal a:hover {
  color: #fff !important;
}

.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item:hover::after, .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu:hover::after, .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item-active::after, .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu-active::after, .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item-open::after, .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu-open::after, .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item-selected::after, .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu-selected::after  {
  border-bottom: 2px solid #fff;
}
