@import "~antd/dist/antd.css";

// $primary: #284167;
$primary: #FE5B54;

.header {
  background-color: $primary;
}

.menu {
  background-color: $primary;
  border-bottom: none;
}


.today {
  border-color: $primary;
  box-shadow: 5px 5px $primary;
}

.listItem:hover {
  background-color: #FE5B54;
  transition: all 0.3s ease;
}
.listItem {
  cursor: pointer;
}